<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ericsson.isf.mapper.StudentMapper">
	<resultMap id="studentsMap" type="com.ericsson.isf.model.StudentModel" >
		<id column="rollno" property="rollNumber"  />
		<result column="name" property="name" />
		<result column="email" property="email" />
	</resultMap>

	<select id="getStudentByRollNo" resultMap="studentsMap" parameterType="Long">
		SELECT
			*
		FROM
			Student
		WHERE
			rollno = #{rollno};
	</select>
</mapper>